* {
    box-sizing: border-box;
}

body {
    background-color:rgb(137, 200, 246);
    height: 300vh;
}

.boat-movement {
    
    animation: spin-anim 1.5s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background:  rgb(12, 9, 111, 0.8);
    z-index: 1;
}

h1 {
    color: rgb(137, 200, 246);
    font-size: 25px;
    margin-top: 7px;
    font-family: pacifico;
}
.home-icon {
    display: inline-flex;
}

.nav-header {
    margin-right: 10px;
}

.navbar-brand {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
   background-color: rgb(31, 28, 128);
   align-items: baseline;
}

.navbar {
    display:flex;
   background-color: rgb(31, 28, 128);
   flex-direction: row;
   align-items: baseline;
}

#search-text {
    width: 60%;
    /* position:relative;
    top: 30%; */
    border-radius: 5px 0px 0px 5px;
}

.results-search-bar {

    display: flex;
    flex-direction: row;
    width: 60%;
    position: relative;
    bottom: 5px;
    left: 6%;
    
 
}

.btn {
    background-color:rgb(31, 28, 128);
    color: white;
}

.result-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    line-height: 30px;

}

#show-poster {
    box-shadow: 0 0 10px rgb(21, 43, 167);
    border-radius: 10px;
}

#show-poster:hover {
    cursor: pointer;
}

.logos {
    box-shadow: 0 0 10px rgb(21, 43, 167);
    border-radius: 10px;
}

.logos:hover {
    cursor: pointer;
}

li {
    list-style: none;
    color: rgb(12, 10, 54);
}

#show-info {
    margin-left:50px;

}

#recommended {
    text-align: center;
    margin-top: 30px;
}

p {
    color:rgb(12, 10, 54);
    text-align: center;
    margin-top: 20px;
    font-family: pacifico;
    font-size: 20px;
}

.watchlist-results {
    position: relative;
    right: -10vw;
    top: 20px;
    color: rgb(137, 200, 246);
    font-size: 25px;
}

@media screen and (max-width: 590px) {

    .navbar-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 10px;
    }

    .watchlist-results {
        position: relative;
        top: 130px;
        right: 100px;
        color: rgb(31, 28, 128);
        font-size: 30px;
    }

    .result-display {
        display:flex;
        flex-direction: column;
    }
    body {
        height: 300vh;
    }

    #search-bar {
        width: 90vw;
        position: relative;
        left:10%;
        margin-top: 10px;
    }
}